.notification-popup {
   margin-top: 7px;
   margin-left: 950px;

    .css-3bmhjh-MuiPaper-root-MuiPopover-paper {
        border:2px solid #F08613;
        min-width: 339px;
        min-height: 300px;
    }

    // .menu-item{
    //     margin: 4px;
    //     border: 2px solid #EDEDED;
    // }
}