.grid-inner-container{
    background-color:white;
    height:80%;
    border-radius: 10px;
    height: 10vh;
    margin-top: 10px;
    .list-items{
        padding-top: 0px;
    }
}
// .BarChart{
//     width:833px;
//     height:100px;
// }

.canvas{
    width:4000px;
    height:294px;
}

// .CRM_dropdown{
    .MuiAutocomplete-hasPopupIcon.css-1wuilmg-MuiAutocomplete-root .MuiOutlinedInput-root{
        height:36px;
        // margin:-10px;
        margin-left: 1px;
        background-color: #003478;
        color: white;
        text-align: center;
        margin-bottom: 5px;
      }

      .css-1glvl0p-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-clearIndicator {
         display: none;
      }
// }
