.grid-inner-container {
    display: 'flex';
    align-items: center;
    background-color: white;
    height: 80%;
    border-radius: 10px;
    height: 10vh;
    margin-top: 10px;

    .list-items {
        padding-top: 0px;

        .list-items-text {
            color: #003478
        }
    }

    .css-1p823my-MuiListItem-root {
        height: 31px;

        @media (max-width:1366px) and (min-width: 1200px) {
            height: 24px;
        }

    }
}

// .BarChart{
//     width:833px;
//     height:100px;
// }

// .canvas{
//     width:4000px;
//     height:294px;
// }



// .CRM_dropdown{
.MuiAutocomplete-hasPopupIcon.css-1wuilmg-MuiAutocomplete-root .MuiOutlinedInput-root {
    height: 36px;
    // margin:-10px;
    margin-left: 1px;
    background-color: #003478;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

.css-1glvl0p-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-clearIndicator {
    display: none;
}

// }
.first-grid {
    background-color: #EDEDED;
    height: 19vh;
    width: 95%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border-radius: 15px;

    @media (max-width:1366px) and (min-width: 1200px) {
        width: 98%;
        // border: 2px solid green
    }
}

.second-grid {
    height: 47vh;
    width: 95%;
    direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border-radius: 15px;

    @media (max-width:1366px) and (min-width: 1200px) {
        width: 98%;
        height: 43vh;
        // border: 2px solid green;
    }
}

.third-grid {
    background-color: #EDEDED;
    height: 23vh;
    width: 95%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border-radius: 15px;


    @media (max-width:1366px) and (min-width: 1200px) {
        width: 98%;
        // border: 2px solid green
    }
}

.profilePic-dashboard {
    width: 103px;
    height: 103px;
    border-radius: 17px;

    @media (max-width:1366px) and (min-width: 1200px) {
        width: 74px;
        height: 74px;
    }
}

.avatar-dashboard {
    .css-17o22dy-MuiAvatar-root {
        width: 103px;
        height: 103px;
        border-radius: 17px;

        @media (max-width:1366px) and (min-width: 1200px) {

            width: 74px !important;
            height: 74px !important;
        }
    }
    .css-1llrwy8 {
        width: 103px;
        height: 103px;
        border-radius: 17px;

        @media (max-width:1366px) and (min-width: 1200px) {

            width: 74px !important;
            height: 74px !important;
        }
    }
}