.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
    height: 5vh;
    width: 244px;
}



.MuiGrid-root {
    .MuiGrid-item {
        .MuiGrid-grid-md-8 {
            .css-am41oj-MuiGrid-root {
                canvas {
                    height: 284px;
                    width: 731px;
                }
            }
        }
    }
}

