.DateField{
    .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root{
        height: 5vh;
        width:187px;
    }
}


.css-1jdq69z-MuiFormControl-root-MuiTextField-root{
    width:187px;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    height:4vh;
    width:104px;
}
.css-e4w4as-MuiFormLabel-root-MuiInputLabel-root {
    transform: translate(12px, 7px) scale(0.75) !important;
}
.css-14x1nlk {
    transform: translate(12px, 7px) scale(0.75) !important;
}